@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Work Sans" !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.top-part1 {
  background-color: white;
}

.top-part2 {
  background-image: radial-gradient(circle at bottom right, rgb(246, 219, 205), rgb(246, 219, 205), rgb(181, 205, 241), rgb(227, 231, 238));
}

.row>.col>.box {
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.row>.col:nth-child(1)>.box {
  background-color: #2d69f0;
}

.row>.col:nth-child(2)>.box {
  background-color: #dd246e;
}

.row>.col:nth-child(3)>.box {
  background-color: #0dae75;
}

.row>.col:nth-child(4)>.box {
  background-color: #8007e6;
}

.gray-bg2 {
  background-image: radial-gradient(circle at bottom center, rgb(236, 235, 234), rgb(214, 213, 212), #fff, #f4f1f1d4);

}

.pt-15 {
  padding-top: 20px;
}

.fs-7 {
  font-size: 35px;
}

.contact-banner {
  background: url("/contact.jpg") center center / cover no-repeat;

}

.contact-overlay {
  background: #00000081;
}

.h400 {
  height: 400px;
}

.custom-br {
  border-radius: 74% 26% 100% 0% / 0% 85% 15% 100%
}

.call-to-action {
  position: relative;
  top: -50px;
}

.gray-bg {
  background-image: radial-gradient(circle at bottom center, rgb(236, 235, 234), rgb(255, 255, 255), #fff, #ffffffd4);
}

.box {
  box-shadow: 0px 15px 35px gray;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: red !important;
}

.special-link {
  background-color: #2d69f0;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

.special-link .nav-link {
  color: white !important;

}

.banner-card {
  background-color: white;
  bottom: 15%;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.9;
}

.banner-card2 {
  top: 30%;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.9;
  right: 10%;
  animation-duration: 2.5s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.banner-card h6 {
  margin: 0px;
}

.banner-card span {
  font-size: 13px;
}

.mb-1000 {
  margin-bottom: 1000px;
}

.pb-7 {
  padding-bottom: 7rem;
}

.course_more {
  border-top: 1px solid #f0f0f5;
  padding-top: 10px;
}

.card img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.b-search {
  margin-left: -55px;
  margin-top: 13px;
}