.top-part1 {
  background-color: white;
}

.top-part2 {
  background-image: radial-gradient(circle at bottom right, rgb(246, 219, 205), rgb(246, 219, 205), rgb(181, 205, 241), rgb(227, 231, 238));
}

.row>.col>.box {
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.row>.col:nth-child(1)>.box {
  background-color: #2d69f0;
}

.row>.col:nth-child(2)>.box {
  background-color: #dd246e;
}

.row>.col:nth-child(3)>.box {
  background-color: #0dae75;
}

.row>.col:nth-child(4)>.box {
  background-color: #8007e6;
}

.gray-bg {
  background-image: radial-gradient(circle at bottom center, rgb(236, 235, 234), rgb(214, 213, 212), #fff, #f4f1f1d4);

}

.box {
  box-shadow: 0px 15px 35px gray;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: red !important;
}

.special-link {
  background-color: #2d69f0;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

.special-link .nav-link {
  color: white !important;

}

.banner-card {
  background-color: white;
  bottom: 15%;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.9;
}

.banner-card h6 {
  margin: 0px;
}

.banner-card span {
  font-size: 13px;
}

.mb-1000 {
  margin-bottom: 1000px;
}

.pb-7 {
  padding-bottom: 7rem;
}

.course_more {
  border-top: 1px solid #f0f0f5;
  padding-top: 10px;
}